{% extends "base.html" %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#edit-btn').toggle(
        function() {
          $('.pad').hide();
          $('.pad-edit').show();
          $(this).text('Link');
        }, function() {
          $('.pad').show();
          $('.pad-edit').hide();
          $(this).text('Edit');
        }
      );
      $('.pad-edit span').editable("{% url update-name %}", {
        tooltip: 'click to edit...',
        indicator: '<img src="{{ MEDIA_URL }}site/imgs/ajax-loader.gif" />',
        callback: function (result_json) {
                    result = $.parseJSON(result_json)
                    $(this).text(result.name);
                    $(this).closest('.pad a').text(result.name)
                  }
      });
   });
  </script>
{% endblock %}

{% block css %}
<style type="text/css" media="screen">
  .pad-edit {
    display: none;
  }
  .pad-edit span {
    display: inline;
  }
</style>
{% endblock %}

{% block main_content %}
<a href="#" id="edit-btn">Edit</a>
<ul>
  {% for pad in pads %}
    <li class="pad"><a href="{{ pad.etherpad_url }}">{{ pad }}</a></li>
    <li class="pad-edit"><span id="{{ pad.id }}">{{ pad }}</span></li>
  {% endfor %}
</ul>
{% endblock %}