{% extends "base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ MEDIA_URL }}site/css/list.css" type="text/css"  charset="utf-8">
{% endblock %}
{% block js %}
  {{ block.super }}
  <script src="{{ MEDIA_URL }}site/js/jquery.tablesorter.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ MEDIA_URL }}site/js/jquery.maskedinput.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ MEDIA_URL }}site/js/jquery.jeditable.masked.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ MEDIA_URL }}site/js/jquery.tablesorter.pager.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('.pad-description').editable("{% url update-description %}", {
        tooltip: 'click to edit...',
        indicator: '<img src="{{ MEDIA_URL }}site/imgs/ajax-loader.gif" />',
        placeholder: "–",
        callback: function (result_json) {
                    result = $.parseJSON(result_json)
                    $(this).text(result.description);
                    $('#pads-table').trigger('update');
                  }
      });
      $('.pad-date').editable("{% url update-date %}", {
        tooltip: 'click to edit...',
        indicator: '<img src="{{ MEDIA_URL }}site/imgs/ajax-loader.gif" />',
        type: 'masked',
        mask: '99/99 99:99',
        placeholder: '–',
        callback: function (result_json) {
          result = $.parseJSON(result_json)
          $(this).text(result.date);
          $('#pads-table').trigger("update");
        }
      });
      $('#pads-table')
        .tablesorter({widthFixed: true, widgets: ['zebra']})
        .tablesorterPager({container: $('#pager'), size: 30});
   });
  </script>
{% endblock %}

{% block main_content %}
<h1>Pad Index</h1>
<div class="promo">sponsored by HUGE</div>
<p>Here are all of the pads 
<table id="pads-table" class="tablesorter">
  <thead>
  <tr>
    <th>Pad</th>
    <th>Description</th>
    <th>Talk Time</th>
  </tr>
  </thead>
  <tbody>
  {% for pad in pads %}
    <tr>
      <td class="pad"><a href="{{ pad.etherpad_url }}">{{ pad.id }}</a></td>
      <td class="pad-description" id="{{ pad.id }}">{{ pad.description}}</td>
      <td class="pad-date" id="{{ pad.id}}">{{ pad.talk_time|date:"m/d H:i" }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<div id="pager" class="pager"> 
	<form> 
		<img src="{{ MEDIA_URL}}site/imgs/icons/first.png" class="first"/> 
		<img src="{{ MEDIA_URL}}site/imgs/icons/prev.png" class="prev"/> 
		<input type="text" class="pagedisplay"/> 
		<img src="{{ MEDIA_URL}}site/imgs/icons/next.png" class="next"/> 
		<img src="{{ MEDIA_URL}}site/imgs/icons/last.png" class="last"/> 
		<select class="pagesize"> 
			<option selected="selected"  value="10">10</option> 
			<option value="20">20</option> 
			<option value="30" selected="selected">30</option> 
			<option  value="40">40</option> 
		</select> 
	</form> 
</div>
{% endblock %}